.header {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    margin-left: 2rem;
}

.container {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;

}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.restaurantCard {
    border: 1px solid black;
    width: 10rem;
    height: 25rem;
    padding: 1rem;
    margin: 1rem;
}

.restaurantCard>img {
    width: 100%;
    height: 41%;
    box-shadow: 0px 0px 6px 1px black;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between the elements */
    margin-top: 50px; /* Add some space from the top */
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .remove-filter {
    background-color: #dc3545;
  }
  
  .remove-filter:hover {
    background-color: #c82333;
  }
  